<div class="container-details">
    <img src={{animal.image}} class = "img-details"> </img>
    <div>
        <br>
        <br>
        <span class="attribute-details">
            <strong>Name:</strong>{{animal.animalname}}
        </span>
        <br>
        <span class="attribute-details">
            <strong>Breed:</strong> {{animal.breedname}}
        </span>
        <br>
        <span class="attribute-details">
            <strong>Specie:</strong> {{animal.speciesname}}
        </span>
        <br>
        <span class="attribute-details">
            <strong>Age:</strong> {{animal.animalage}}
        </span>
        <br>
        <span class="attribute-details">
            <strong>Color:</strong> {{animal.basecolour}}
        </span>
        <br>
        <span class="attribute-details">
            <strong>Owner:</strong> {{animal.owner}}
        </span>
        <div class="div-btn">
            <a href="/{{animal.id}}/adopt"> <button class="button-adopt"> Adopt</a>
            </button>
        </div>
    </div>
</div>